/* CSS declarations go here */
Header a.active {
  font-weight: bold;
  text-decoration: underline;
}

Header a, #login-buttons a {
  text-decoration: none;
  margin-right: 10px;
  color:inherit;
}

header-options {
	left: 10;
	text-decoration-color: red;
}