.header-options {
	text-decoration-color: green;
}

.nav-style {
	background-color: #ffd600;
	color: blue;
	padding-left: 12;
}

#nav-mobile {
	font-size: 60px;
}

#bootstrap-overrides h1 { /* 100+1=101 priority score, yay! */
  line-height: 1;
  color: inherit;
}